@import url("screen.css") screen; 
@import url("handheld.css") handheld; 

body {
        color: #3E3E3E;
        background-color: #FBFFFF;
		font-family: Verdana;
}

br {
	height: 0px;
}
div.controlPanel {
	height:30px
}

.controls {
	display: none;
}


.temp {
	display: table-row;
}

.gage {
	width: 200px;
	height: 140px;
	margin-left: auto;
	margin-right:auto;
}

button#sendcommand {
	position: relative;
	margin-left: 25px;
}

div.ControlResponse {
	vertical-align:top;
	display:inline-block;
}

div.tempdata {
	vertical-align:middle;
	display:inline-block;
}

form#windowSize {
	position: relative;
	margin-left: 200px;
}

p.plottitle {
	font-size: x-large;
	position: relative;
	margin-left: 200px;
}

.form	{
		display: inline; 
		position: relative; 
		margin-left: auto; 
		margin-right: auto; 
		text-align: center;
		width: 700px;
}
	 

div[id$='-tempStatus'] {
	display: inline-block;
}

#tempUnit {
	display:inline-block;
}

#pidInput.units {
	text-align:left;
	float:left;
}

#pidInput.inputs {
	float:left;
}

#pidInput.labels {
	text-align: right;
	float:left;
}

form[id$='-form'] input{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
margin:2px 0 18px 10px;
text-align: left;
}

div[id*='-unit'] {
	margin-bottom: 10px;
	height:30px;
}
div[id*='-label'] {
	margin-bottom: 10px;
	height:30px;
}

form[id$='-form'] button{
clear:both;
width:100px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;

}

/* Set border and padding values moved inward */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}
 
/* Stepper */
.stepper{
    width: 100%;
    height: 30px;   
    margin: 0 0 10px 0;
    position: relative;
    overflow: hidden;
}
.stepper .stepper-input{
    width: 100%;
    height: 30px;
    color: #000;
    background: #FFF;
    border: 1px solid #CCC;
    margin: 0;
    padding: 1px 0 1px 5px;
    overflow: hidden;
    z-index: 49;
    text-align: left;
}
.stepper:hover .stepper-input, .stepper .stepper-input:focus {
    background-color: #F9F9F9;
}
.stepper .stepper-step {
    width: 20px;
    height: 50%;
    background: #EEE url(stepper.png) no-repeat;
    border: 1px solid #CCC;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    z-index: 50;
}
.stepper .stepper-step:hover {
    background-color: #F9F9F9;
}
 
/* Up and Down arrows */
.stepper .stepper-step.up {
    background-position: center top;
    border-bottom: none;
    top: 0;
}
.stepper .stepper-step.down {
    background-position: center bottom;
    bottom: 0;
}
 
/* Disabled */
.stepper.disabled .stepper-input {
    background: #FFF;
    border: 1px solid #EEE;
    color: #CCC;
}
.stepper.disabled .stepper-step, .stepper.disabled .stepper-step:hover {
    background: #F9F9F9;
    border: 1px solid #EEE;
    cursor: default;
}
.stepper.disabled .stepper-step.up {
    background: #F9F9F9 url(stepper.png) no-repeat;
    background-position: center top;
    border-bottom: none;
    top: 0;
}
.stepper.disabled .stepper-step.down {
    background: #F9F9F9 url(../img/stepper.png) no-repeat;
    background-position: center bottom;
    bottom: 0;
}
