.controller {
        margin:2px 0 1px 1px;
        text-align:center;
        display: inline-table;
}


.gauge {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(36, 30, 30);
        border: 3px solid #999;

}

#PIDs {
		  padding: 1em;
		  float: left;
}
#Temp {
          padding: 1em;
		  float: left;
}

#pumps {
          padding: 1em;
		  float:left;
}

#timers {
          padding: 1em;
		  float:left;
}

#phSensors {
          padding: 1em;
		  float:left;
}

#tempProbes {
		  padding: 1em;
		  float:left;
}

