.controller {
        margin:2px 0 1px 1px;
        text-align:center;
        display: inline-table;
}


.gauge {
        width: 25em;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(36, 30, 30);
        border: 3px solid #999;

}

#Probes {
		  float: left;
}
#Temp {
		  float: left;
}

#pumps {
		  float:left;
}

#timers {
		  float:left;
}

#phSensors {
		  float:left;
}

#tempProbes {
		  float:left;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}