<html>
    <link rel="stylesheet" href="../bootstrap-v4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/elsinore.css"/>
    <script type="text/javascript" src="../bootstrap-v4/js/jquery.js" ></script>
    <script type="text/javascript" src="../bootstrap-v4/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="js/elsinore.js"></script>
    <head>
        <title>New Elsinore Control page</title>
    </head>
    <body>
        <div class="container-fluid">
            <div id="header" class="row">StrangeBrew Elsinore</div>

            <div class="row">
                <div class="">
                    <div id="probes">
                        <h4 class="card-title">Probes</h4>
                        <div id="card-deck"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="switches">
                        <h4 class="card-title">Switches</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="timers">
                        <h4 class="card-title">Timers</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
