<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Live Data Graph</title>
	<script language="javascript" type="text/javascript" src="/templates/static/js/d3.js"></script>
	<script language="javascript" type="text/javascript" src="/templates/static/js/c3.js"></script>
	<script language="javascript" type="text/javascript" src="/templates/static/js/jquery.js"></script>
	<link href="/templates/static/css/c3.css" rel="stylesheet" type="text/css">
	<script type="text/javascript">

	function getParams() {

		var params = window.location.search.substring(1).split('&'),
		i = 0,
		pair = null,
		result = {};

		while (pair = params[i++]) {
			pair = pair.split('=');
			result[pair[0]] = decodeURIComponent(pair[1]);
		}
		result["bindto"] = "temperatureChart";
		result["updates"] = window.updateOnly;
		return result;
	}

	$(function() {
		$("#view_all_points").attr('href', window.location.href + '&size=0');
		
		var data = [];

		// Fetch one series, adding to what we already have

		var alreadyFetched = {};
		window.updateOnly = false;
		var chart = null;
		function fetchData() {

			function onDataReceived(series) {
				if (chart == null) {
                    series["zoom"] = {};
                    series["zoom"]["enabled"] = true;
                    series["axis"]["y"]["tick"] = {}
                    series["axis"]["y"]["tick"]["format"] = function(d) { return parseFloat(d).toFixed(2);}
					chart = c3.generate(series)
				} else {
					chart.load(series);
				}
			}

			// Normally we call the same URL - a script connected to a
			// database - but in this case we only have static example
			// files, so we need to modify the URL.
			$.ajax({
				url: "/graph-data/",
				type: "GET",
				dataType: "json",
				data: getParams(),
				success: onDataReceived
			});
			window.updateOnly = true;
			setTimeout(fetchData, 5000);
			
		}
		
		fetchData();
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Live Data vs Time</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="temperatureChart"></div>
			<a id="view_all_points" href="">View all history</a>
			<a id="view_all_inputs" href="/graph?&size=0">View all inputs</a>
			<a id="download_data" href="/graph-data?&size=0&download=true" download="graph-data.zip">Download all data</a>
		</div>
	</div>


</body>
</html>
